.nav {
    width: 5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    


    a {
        font-size: 0.8vw;
        text-align: center;
        margin: 5px 0;
        text-decoration: none;
        
    }
}   
