.portfolio-header {
    width:100%;
    padding: 50px 0;
    text-align: center;

    .border-left {
        border-left: 1px solid lightgray;
        padding-left: 10px;
    }

    .border {
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        margin:0 10px;
        padding: 0 10px; 
    }

    .border-right {
        border-right: 1px solid lightgray;
        padding-right: 10px;
    }
}

.portfolio-main {
    height: 100%;
    width: 90%;
    // padding-left: 180px;
    margin: 20px auto;
    display: flex;
    //justify-content: center;
    flex-wrap: wrap;

    .works-panel {
        width: 250px;
        height: 250px;
        margin: 5px;
        border: 1px solid lightcoral;
    }

    .modal-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position:absolute;
        background-color:white;
        width: 80%;
        max-width: 1200px;
        margin: auto;
        left: 50%;
        padding: 20px;
        border-radius:5px;

        transform: translate(-50%, -200%);

        transition:transform 0.3s ease-out;

        .modal-img {
            width: 500px;
            height: 500px;

            img {
                width: 100%;
            }
        }

        .modal-sub-img-container {
            display: flex;
            margin-top: 20px;

            .modal-sub-img {
                width: 100px;
                height: 100px;
                margin: 0 5px;
                border: 1px solid lightcoral;
            }
        }
         


        .modal-para {
            margin: 30px auto;
            width: 50%;

            h1 {
                text-align: center;
            }

            a {
                text-align: center;
                display: block;
                text-decoration: none;
            }
        }

        
    }
        .modal:before {
            content :"";
            position: fixed;
            display: none;
            background-color:rgba(0,0,0,0.6);
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .modal:target:before {
            display: block;
        }

        .modal:target .modal-container {
            top: 2.5%;
            transform: translate(-50%, 0);
        }

        #modal-close {}
}

.imagePortfolios{
    position: relative;
    width: 25%;
    height: 20vw;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    img{
        box-sizing: border-box;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 0.6s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}

