@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Mada:300|Source+Sans+Pro:200');

body, html{
  height: 100%;
}

body {
  background: white;
  margin: 0;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

h1,h2,h3,h4,h5,h6 {
  margin: 0 !important;
  font-family: 'Crimson Text', serif;
}

.hide-nav{
 display: none;
}

.loading-section{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  img{
    width: 25%;
  }
  &.hide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
    }
}
