.login-bg{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url('https://s-media-cache-ak0.pinimg.com/originals/9d/78/6c/9d786cdd0c41d24f19098bd63aaa179c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-style{
    background-color: rgba(0,0,0,0.7);
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    h3{
        color: white;
        margin-bottom: 20px !important;
    }
    input{
        min-width: 200px;
        padding: 5px 8px;
        margin-bottom: 20px;
    }
    button{
        padding: 5px 8px;
        max-width: 100px;
        margin: auto;
    }
}
